.wrapper {
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  height: 100vh;

  .left {
    width: 0.94rem;
    border-right: 1px solid #000;

    .top {
      height: 1.04rem;
      width: 0.94rem;
      border-bottom: 1px solid #000;
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      z-index: 90;
      left: 0;
      top: 0;

      .logo {
        height: 0.58rem;
      }
    }

    .bottom {
      font-size: 0.28rem;
      font-weight: 500;
      color: #000000;
      position: sticky;
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;

      ul {
        display: flex;
        justify-content: space-around;
        writing-mode: vertical-rl;
        transform: rotate(180deg);

        li {
          cursor: pointer;
          margin: 16px;
          a:hover {
            color: #5a88bb;
          }
        }
      }
    }
  }

  .right {
    overflow: scroll;

    .top {
      height: 1.04rem;
      border-bottom: 1px solid #000;
      width: 100%;
      position: fixed;
      z-index: 50;
      top: 0;
      left: 0.94rem;
    }

    .bottom {
      padding-top: 1.04rem;

      .banner {
        height: 4.26rem;
        background: url(../../assets/images/banner-bg.png) center center / cover no-repeat #bfbfbf;
        border-bottom: 1px solid #000;
        padding: 0.32rem 0.16rem;
        text-align: right;
        overflow: hidden;

        .desc {
          font-size: 0.24rem;
          font-weight: 600;
          color: #000000;
          margin-bottom: 0.32rem;
          white-space: nowrap;
        }

        .button {
          width: 2.4rem;
          height: 0.56rem;
          line-height: 0.56rem;
          background: #ffffff;
          border-radius: 0.28rem;
          font-size: 0.28rem;
          font-weight: 500;
          color: #5a88bb;
          text-align: center;
          display: inline-block;
        }

        .button:hover {
          background: linear-gradient(to right, #7076A8, #5CA1C7, #82C2CA);
          color: white;
        }
      }

      .total {
        height: 1.8rem;
        padding: 0.32rem 0.16rem;
        border-bottom: 1px solid #000;
        font-size: 0.24rem;
        font-weight: 600;
        color: #000000;

        .amount {
          font-size: 0.56rem;
          font-weight: 600;
          text-align: center;
        }
      }
    }

    .footer {
      height: 0.3rem;
    }
  }

  @media (min-width: 980px) {
    .left {
      width: 100px;

      .top {
        height: 88px;
        position: fixed;
        z-index: 90;
        left: 0;
        top: 0;
        width: 100px;

        .logo {
          width: 56px;
          height: 44px;
        }
      }

      .bottom {
        font-size: 21px;
        font-weight: 600;
        padding-top: 88px;
        position: sticky;
        ul {
          display: flex;
          justify-content: space-around;
          li {
            margin: 16px;
          }
        }
      }
    }

    .right {
      overflow: scroll;
      .top {
        height: 88px;
        width: 100%;
        position: fixed;
        z-index: 50;
        top: 0;
        left: 100px;
      }

      .bottom {
        padding-top: 88px;
        .banner {
          .button {
            width: 202px;
            height: 44px;
            line-height: 44px;
            border-radius: 22px;
            font-size: 21px;
          }
        }

        .total {
          height: 264px;
          padding: 44px 31px;
          font-size: 42px;
          font-weight: 600;

          .amount {
            font-size: 100px;
            font-weight: 600;
            text-align: center;
          }
        }
      }

      .footer {
        height: 26px;
      }
    }
  }
}

.bg-white {
  background-color: rgba(255,255,255, 0.9);
}
